*{
    margin:0px;
    padding:0px;
}
nav{
    background-color:black;
    color:white;
    padding:15px;
}
ul,h1,li{
    display:inline;
}
ul{
    margin-left:60%;
}
li{
    color:grey;
    cursor: pointer;
}
li:hover
{
   color:white;
}
input{
    width:800px;
    padding:10px;
}
.box
{
    border-style:solid;
    border-width:5px;
    border-color:black;
    display:inline-block;
    margin-left:55px;
}    

.box:hover
{
    background-color:black;
    color:white;
    cursor: pointer;
}
.about{
    text-align:center;
    margin-top:60px;
    cursor:pointer;
}
.contact
{
    background-color: black;
    color: white;
    text-align:center;
    padding: 20px;
    cursor:pointer;
}